<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard Financeiro</title>
</head>
<body>
<section>
    <div class="form">
        <h1>Adicionar Gasto</h1>

        <form action="/add" method="post">
            <input type="text" name="name" placeholder="Nome" required>
            <input type="number" step="0.01"name="value" placeholder="Valor" required>
            <select name="category">
                <option value="alimentacao">Alimentação</option>
                <option value="lazer">Lazer</option>
                <option value="transporte">Transporte</option>
            </select>
            <button type="submit">Adicionar</button>
        </form>
    </div>  
</section>
<section>
    <div class="data">
        <h2>Gastos:</h2>
        
        <ul>
            {% for expense in expenses %}
                <li>
                    {{expense[1]}} - R$ {{ expense[2]}} - {{ expense[3]}}
                    <form action="/delete/{{ expense[0] }}" method="post" style="display: inline;">
                    <button type="submit">❌</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <h2>Total: R$ {{ total }}</h2>
        <h3>Gasto por categoria:</h3>
    </div>
</section>
<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    window.chartData = {{ categories | tojson }};
</script>

<script src="/static/script.js"></script>

</body>
</html>